<!DOCTYPE html>
<html>
<head>
<style>
body{
background-color: #FFFF99;

}
input{
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}
html{
cursor:url(../static/cursor.cur),zoom-out;
}

</style>
</head>
<title> Tubby-Cook </title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<br>
<br>

<h1 align="center"><img src="../static/TubbyCook.png"></h1>

<body>

<font size="3">
{% block text %}
<h2 align="center">Welcome to our page</h2>
<form name="input" class="pure-form" action="/t" method="POST">
<center> 
Food: <input type="text" class="pure-input-rounded" name="tag" placeholder="Cream Puffs">
  <br>

 Location:<input type="text" class="pure-input-rounded" name="loc" placeholder="San Francisco">
 <br><br>
 
<input type="submit" value="Submit" class="button-submit pure-button">
</form>
<br><br>
<hr>
<br>
<b>
This website combines the APIs of both <a href="http://www.yelp.com">Yelp</a> and <a href="http://www.spotify.com">Spotify</a>, both commonly used websites. <br>
Although it is not perfectly accurate, the idea was to be able to find the restaurant for a food you're craving, <br>
with access to songs that fit the atmosphere that you're in. <br>
Through the Yelp API, the user can search for restaurants by inputting the desired food and location.<br>
After that, the user can then choose the desired restaurant from the results and <br>
through the Spotify API, the user will be given a playlist of songs related to the restaurant's name. <br>
<font size="1"></i>(A <a href="http://www.spotify.com">Spotify</a> account is required in order to access the playlist) </i></font><br>
<br>
<hr>
</b>
</center>
{% endblock %}
</font>
</body>
</html>
