<!DOCTYPE html>
<html>
<head>
<style>
body{
background-color: #FFFF99;

}
input{
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}
html{
cursor:url(../static/cursor.cur),zoom-out;
}

</style>
</head>
<title> Tubby-Cook </title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<br>
<br>

<h1 align="center"> Tubby Cook </h1>

<body>


{% block text %}
<h2 align="center">Welcome to our page</h2>
<form name="input" class="pure-form" action="/t" method="POST">
<center> 
Food: <input type="text" class="pure-input-rounded" name="tag" placeholder="Cream Puffs">
  <br>

 Location:<input type="text" class="pure-input-rounded" name="loc" placeholder="San Francisco">
 <br><br>
 
<input type="submit" value="Submit" class="button-submit pure-button">
</form>
</center>
{% endblock %}
</body>
</html>
