<!DOCTYPE html>
<html>
<head>
</head>
<title> Tubby-Cook </title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<br>
<br>

<h1 align="center"> Tubby Cook </h1>

<body>


{% block text %}
<h2 align="center">Welcome to our page</h2>
<form name="input" class="pure-form" action="/t" method="POST">
  <input type="text" class="pure-input-rounded" name="tag" placeholder="Cream Puffs">
  <br>

 Location:<input type="text" class="pure-input-rounded" name="loc" placeholder="San Francisco">
 <br><br>
 
<input type="submit" value="Submit" class="button-submit pure-button">
</form>
{% endblock %}
</body>
</html>
