{% extends "base.html" %}

{% block text %}
<center>
<h2>Register</h2>

{% if registered %}
You have successfully logged in as {{username}}!
{% endif %}

{% if not registered %}
<form action="register" method="POST">
  Username:  <input required type="text" name="username"></input><br>
  Password:&nbsp <input required type="password" name="password"></input><br>
  Retype Password:&nbsp <input required type="password" name="password2"></input><br>
  <div>
    <style scoped>
      
      .button-small {
      font-size: 85%;
      }
    </style>
    <button class="button-small pure-button" type = "submit">Register</button><br>
  </div>
</form>
{{reason}}
</center>
{% endif %}
{% endblock %}
